body {
    background-color: antiquewhite
}

nav {
    float: left;
    background-color: rgb(221, 221, 207);
    height: 300px;
    width: 150px;
    border-radius: 150px;
    text-align: center;
    box-shadow: 5px 10px 15px  black;
    position: relative;
    left: 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
}

header ul li {
    font-weight: bold;
    line-height: 5em;
  }

  main {
    float: left;
    width: 85%;
    margin-left: 2.5%;
  }

  h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    box-shadow: 5px 10px 15px black; 
} 

  p {
    height: 190px;
    overflow: auto;
    width: 100%;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 20px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid black;
    background-color: rgba(219, 209, 209, 0.322);
    box-shadow: 5px 10px 15px black;
    line-height: 30px;
}

#byteMe {
    height: 300px; 
    width: 300px;
}

section:nth-child(3) li {
    list-style-type: circle;
    list-style-position: inside;
    font-weight: bold;
    line-height: 2em;
    text-indent: 1em;
} 

section:nth-child(3) article {
    width: 30%;
    float: left;
    margin-left: 3%;
    height: 450px;
    background-color: rgba(219, 209, 209, 0.322);
    text-align: center;
    box-shadow: 5px 10px 15px black;
    margin-top: 50px;
    margin-bottom: 50px;

}

h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

#garfPic {
    box-shadow: none;
}

#footerInfo {
    text-align: center;
    border: none;
    height: 10px;
    box-shadow: none;
    background-color: antiquewhite;
    margin-bottom: 10px;
}