* {
    text-align: center;
}

body {
    background-color: rgb(245, 237, 227);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
}

nav {
    margin: 3em;
}

footer {
    padding: 10em;
}

img {
    width:  500px;
    height: 500px;
    object-fit: cover;
}
